In [6]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [2]:
df = pd.read_csv('./adult.csv')

In [3]:
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [7]:
model = LogisticRegression().fit(df[['age','educational-num', 'hours-per-week']], df['income'])

In [8]:
model.score(df[['age','educational-num', 'hours-per-week']], df['income'])

0.7894844600958192

In [9]:
df['out'] = model.predict(df[['age','educational-num', 'hours-per-week']])

In [10]:
df.to_csv('adult_pred.csv')